html {
  overscroll-behavior: none;
}

body {
  /*background: url('/static/images/bg_cook.jpg') no-repeat center center fixed;*/
  background-color: #87dd7c;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  overscroll-behavior: none;
  overflow-y:scroll;
}


.break-text {
  word-wrap: break-word;
}

.bg-green {
  background-color: #87dd7c;
}

.center-cropped {
  width: 200px;
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
}

.horizontal-line {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #FFFFFF;
  border-style: solid none;
  border-width: 2px 0;
  width: 50%
}

.textcenter {
    text-align: center;
}

.zeropadding {
  padding: 0;
}

.zeromargin {
  margin: 0;
}

.textoverflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.circular--landscape {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--landscape img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.circular--square {
  border-top: 2px solid blue;
  border-right: 2px solid green;
  border-bottom: 2px solid red;
  border-left: 2px solid pink;
  border-radius: 50%;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}

.ownlargetext[type="text"] {
  font-size: 2rem;
}

.ownmediumtext {
  font-size: 1.5em;
}

.shadow-textarea textarea.form-control::placeholder {
  font-weight: 300;
}
.shadow-textarea textarea.form-control {
  padding-left: 0.8rem;
}

.backgroundtransparent {
  background: #dfecdce1;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: #37474F;
}

.card {
  display: inline-block;
}

.loader {
  border-top: 8px solid blue;
  border-right: 8px solid green;
  border-bottom: 8px solid red;
  border-left: 8px solid pink;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

img.vert-move {
  -webkit-animation: mover 0.1s infinite  alternate;
  animation: mover 0.1s infinite  alternate;
}
img.vert-move {
  -webkit-animation: mover 0.1s infinite  alternate;
  animation: mover 0.5s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-5px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-5px); }
}

.scrolling-wrapper {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
  white-space: nowrap;
}

.interessant {
  display: inline-block;
}

.alert {
  margin-bottom: 0px !important;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.overlayimage {
  margin-top: 120px;
  margin-bottom: 0;
  width: 100%;
  max-width: 450px;
  height:auto; 
}

#profilepic {
  transition: filter 0.2s;
  transition: transform 0.2s;
}

#profilepic:hover {
  /* Add the blur effect */
  filter: blur(8px);
  transform: scale(1.04);
  -webkit-filter: blur(1px);
  transition: filter 0.2s;
  transition: transform 0.2s;
}

.swiper-container {
  width: 100%;
  max-width: 500px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: beige;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  min-width: 250px;
}

.swiper-image {
  width: 100%;
  height: auto;
  transition: transform 0.2s;
}

.swiper-image:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}

.textonimage {
  position: relative;
  text-align: center;
  color: black;
}

.texti {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -65%);
  background-color: #87dd7ce5;
  padding: 5px 10px;
  min-width: 100px;
  max-width: 75%;
  border-radius: 10px;
}

.deleteontag {
  background-color: #e06161;
  padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: -27px;
  margin-top: -40px;
}

.searchtagpill:hover {
  cursor: pointer;
}

.user-card:hover {
  border-radius: 20% !important;
  transition: border-radius 0.2s !important;
}