{% extends "base.html" %}

{% block content %}

<div class="p-3 mb-2 bg-light text-dark mt-4">
        <div class="container">
          <h1 class="display-4">Ups, hier ist unser Spezial-404-Rezept</h1>
          <hr class="my-4">
          <h5 class="h5">Wo ist das Rezept denn nur?</h5>
          <a class="btn btn-lg purple-gradient shadow" href="/feed">Hier gehts zu den richtigen Rezepten</a>
        </div>
    </div>
{% endblock content %}