<!doctype html>
<html lang="de">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Material Design Bootstrap -->
    <link href="/static/MDB/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/owncss2.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/icon-192.png">
    <link rel="manifest" href="/static/manifest.json">
    <link rel="apple-touch-icon" href="/static/icon-150.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">


    <title>{{ title }}</title>
    <script type="text/javascript" src="/static/js/script.js"></script>
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/index.umd.min.js"></script>
    <script src="/static/js/form2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>

  </head>

  <body scroll="no" style="overflow: hidden" id=bodys>
 
      <nav class="navbar sticky-top navbar-expand-lg navbar-light text-dark shadow-sm p-3" style="background-color: #87dd7c;">
          <a href="/feed" class="navbar-brand"><img src="/static/icons/croc_icon.png" width="30" height="30" class="d-inline-block align-top" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/feed">
                  <img class="mr-1" src="/static/icons/feed.png" width="23" height="23">Entdecken
                </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/search">
                    <img class="mr-1" src="/static/icons/discover.png" width="23" height="23">Suchen
                  </a>
              </li>
              {% if current_user.is_authenticated %}
              <li class="nav-item">
                  <a class="nav-link" href="/user?id={{ current_user.profile_hash }}">
                    <img class="circular--square shadow mr-1" src="https://ccappstaticfiles.s3.eu-central-1.amazonaws.com/profiles/{{ current_user.avatar }}" width="25" height="25">
                    {{current_user.name}}
                  </a>
                </li>
              <li class="nav-item">
                  <a class="nav-link" href="/favorites">
                    <img class="mr-1" src="/static/icons/heart2.png" width="23" height="23">
                    Favoriten</a>
                </li>
              <li class="nav-item">
                    <a class="nav-link" href="/feedback">
                      <img class="mr-1" src="/static/icons/speaker.png" width="23" height="23">
                      Feedback geben</a>
                </li>
              {% endif %}
            </ul>
              {% if current_user.is_authenticated %}
              <a href="/newrecipe"><button class="btn purple-gradient text-white" type="submit" id="newrecipe">
                  <span class="btn-label"><img src="/static/icons/plus.png" width="20" height="20" ></span>Neues Rezept</button></a>
                  <a href="/logout"><button class="btn btn-light my-2 my-sm-0 shadow" type="submit" id="btn-submit2">Logout</button></a>
              {% else %}
              <a href="/login"><button class="btn btn-light my-2 my-sm-0" type="submit" id="btn-submit2">Anmelden</button></a>
              {% endif %}
          </div>
        </nav>
    
    {% block content %}{% endblock %}

  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pulltorefreshjs/0.1.17/index.umd.min.js" integrity="sha256-6NhrXn8/eK6faZeJFEI2DxqcPh16lJ1wxVDyjjLF2mg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
  </body>
</html>