<!doctype html>
<html lang="de">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0">

    <!-- iPhone Xs Max (1242px x 2688px) --> 
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" href="/static/apple-launch-1242x2688.png"> 
    <!-- iPhone 8, 7, 6s, 6 (750px x 1334px) --> 
    <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" href="/static/apple-launch-750x1334.png">  

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Material Design Bootstrap -->
    <link href="/static/MDB/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/owncss.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/icon-192.png">
    <link rel="manifest" href="/static/manifest.json">
    <link rel="apple-touch-icon" href="/static/icon-150.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">


    <title>{{ title }}</title>
    <script type="text/javascript" src="/static/js/script.js"></script>
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/index.umd.min.js"></script>
    <script src="/static/js/form.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>

  </head>

  <body>
 
    <nav class="navbar sticky-top navbar-expand-lg navbar-light text-dark shadow-sm p-3" style="background-color: #87dd7c;">
      <a href="/feed" class="navbar-brand"><img src="/static/icons/croc_icon.png" width="60" height="60" class="d-inline-block align-top" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/feed">
              <img class="mr-1" src="/static/icons/feed.png" width="23" height="23">Entdecken
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/search">
                <img class="mr-1" src="/static/icons/discover.png" width="23" height="23">Suchen
              </a>
          </li>
          {% if current_user.is_authenticated %}
          <li class="nav-item">
              <a class="nav-link" href="/user?id={{ current_user.profile_hash }}">
                <img class="circular--square shadow mr-1" src="{{s3bucket}}/profiles/{{ current_user.avatar }}" width="30" height="30">
                {{current_user.name}}
              </a>
            </li>
          <li class="nav-item">
              <a class="nav-link" href="/favorites">
                <img class="mr-1" src="/static/icons/heart2.png" width="23" height="23">
                Favoriten</a>
            </li>
          <li class="nav-item">
                <a class="nav-link" href="/feedback">
                  <img class="mr-1" src="/static/icons/speaker.png" width="23" height="23">
                  Feedback geben</a>
            </li>
          {% endif %}
        </ul>
          {% if current_user.is_authenticated %}
          <a href="/newrecipe"><button class="btn purple-gradient text-white" type="submit" id="newrecipe">
              <span class="btn-label"><img src="/static/icons/plus.png" width="20" height="20" ></span>Neues Rezept</button></a>
              <a href="/logout"><button class="btn btn-light my-2 my-sm-0 shadow" type="submit" id="btn-submit2">Logout</button></a>
          {% else %}
          <a href="/login"><button class="btn btn-light my-2 my-sm-0" type="submit" id="btn-submit2">Anmelden</button></a>
          {% endif %}
      </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="px-2 pt-2" style="background-color: beige">
    {% block content %}{% endblock %}
  </div>
    
    {% if current_user.is_authenticated %}
    <div class="d-block d-xl-none d-lg-none" align="center">
      <div class="mt-5"></div>
      <hr class="my-4 mx-2" style="visibility: hidden;">
    </div>

    <div class="d-block d-xl-none d-lg-none" align="center">
    <nav class="navbar fixed-bottom navbar-dark shadow p-auto" style="background-color: #43ca31e5; min-height: 60px;">
          {% if page == "feed" %}
          <a class="m-auto scroller" href="#"><div class="btn-transparent px-0 py-1" style="min-width: 50px;">
            <span class="btn-label"><img src="/static/icons/feed_fill.png" width="30" height="30"></span>
          </div></a>
          {% else %}
          <a class="m-auto" href="/feed"><div class="btn-transparent px-0 py-1" style="min-width: 50px;">
            <span class="btn-label"><img src="/static/icons/feed.png" width="30" height="30"></span>
          </div></a>
          {% endif %}

        
          {% if page == "search" %}
          <a class="m-auto scroller" href="#"><div class="btn-transparent px-0 py-1" style="min-width: 50px;">
            <span class="btn-label"><img src="/static/icons/discover_fill.png" width="30" height="30"></span>
          </div></a>
          {% else %}
          <a class="m-auto" href="/search"><div class="btn-transparent px-0 py-1" style="min-width: 50px;">
            <span class="btn-label"><img src="/static/icons/discover.png" width="30" height="30"></span>
          </div></a>
          {% endif %}
        
        
          {% if page == "user" %}
          <a class="m-auto scroller" href="#"><div class="btn-transparent px-0 py-1" style="min-width: 50px;">
            <span class="btn-label"><img src="/static/icons/profile_fill.png" width="30" height="30" ></span>
          </div></a>
          {% else %}
          <a class="m-auto" href="/user?id={{current_user.profile_hash}}"><div class="btn-transparent px-0 py-1" style="min-width: 50px;">
            <span class="btn-label"><img src="/static/icons/profile.png" width="30" height="30" ></span>
          </div></a>
          {% endif %}

        
          {% if page == "fav" %} 
          <a class="m-auto scroller" href="#"><div class="btn-transparent px-0 py-1" style="min-width: 50px;">
            <span class="btn-label"><img src="/static/icons/heart2_fill.png" width="30" height="30" ></span>
          </div></a>
          {% else %} 
          <a class="m-auto" href="/favorites"><div class="btn-transparent px-0 py-1" style="min-width: 50px;">
            <span class="btn-label"><img src="/static/icons/heart2.png" width="30" height="30" ></span>
          </div></a>
          {% endif %}

          
          {% if page == "new" %}
          <a class="m-auto scroller" href="#"><div class="btn-transparent px-0 py-1" style="min-width: 50px;">
            <span class="btn-label ml-1"><img src="/static/icons/plus2_fill.png" width="30" height="30" ></span>
          </div></a>
          {% else %}
          <a class="m-auto" href="/newrecipe"><div class="btn-transparent px-0 py-1" style="min-width: 50px;">
            <span class="btn-label ml-1"><img src="/static/icons/plus2.png" width="30" height="30" ></span>
          </div></a>
          {% endif %}
      </nav>
    </div>
    {% endif %}

  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pulltorefreshjs/0.1.17/index.umd.min.js" integrity="sha256-6NhrXn8/eK6faZeJFEI2DxqcPh16lJ1wxVDyjjLF2mg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
  </body>
</html>