{% extends "base.html" %}

{% block content %}

<div class="container mt-3 px-0" align="center">

<div class="row" style="margin: 0px !important">

  <div class="col">
        <h3 class="text-dark mb-1" align="left">Deine Favoriten</h3>
        <hr class="mb-4" align="left" style="width: 100%; max-width: 500px; background-color: #87dd7c; border-width: 3px;">
        {% if recipes %}
          <!-- Swiper -->
          <div class="swiper-container mb-4" id=swiper1>
              <div class="swiper-wrapper">
                  {% for recipe in recipes %}
                    <div class="swiper-slide">
                        <a href="/viewrecipe?recipe_id={{recipe.recipe_id}}">
                          <div class="textonimage">
                            <img class="swiper-image" src="{{s3bucket}}/recipes/{{ recipe.recipe_pic }}" alt="Card image cap">
                            <div class="texti textoverflow shadow">{{recipe.title}}</div>
                          </div>
                        </a>
                    </div>
                  {% endfor %}
              </div>
              <!-- Add Pagination -->
              <div class="swiper-pagination" id=pagi1></div>
              <!-- Add Arrows -->
              <div class="swiper-button-next"></div>
              <!--<div class="swiper-button-prev"></div>-->
            </div>
        {% else %}
        <p class="text-dark mt-4 mb-4">Keine Favoriten angelegt</p>
        {% endif %}

      </div>

      <div class="col">
          <h3 class="text-dark mb-1" align="left">Eigene Rezepte</h3>
          <hr class="mb-4" align="left" style="width: 100%; max-width: 500px; background-color: #87dd7c; border-width: 3px;">
          {% if ownrecipes %}
          <!-- Swiper -->
          <div class="swiper-container mb-4" id=swiper2>
              <div class="swiper-wrapper">
                  {% for recipe in ownrecipes %}
                    <div class="swiper-slide">
                        <a href="/viewrecipe?recipe_id={{recipe.recipe_id}}">
                          <div class="textonimage">
                            <img class="swiper-image" src="{{s3bucket}}/recipes/{{ recipe.recipe_pic }}" alt="Card image cap">
                            <div class="texti textoverflow shadow">{{recipe.title}}</div>
                          </div>
                        </a>
                    </div>
                  {% endfor %}
              </div>
              <!-- Add Pagination -->
              <div class="swiper-pagination" id=pagi2></div>
              <!-- Add Arrows -->
              <div class="swiper-button-next"></div>
              <!--<div class="swiper-button-prev"></div>-->
            </div>
            {% else %}
            <div class="col zeropadding">
                <a href="/newrecipe" class="btn purple-gradient text-white mb-3">Erstelle Dein erstes Rezept</a>
            </div>
            {% endif %}
          </div>
    </div>
    <br>

    {% if most_tag_recipes %}
    <div class="row" style="margin: 0px !important">
        <div class="col">
            {% if most_tag_recipes|length > 1 %}
            <h3 class="text-dark mb-1" align="left">{{ most_tag_recipes|length }} Rezepte für <strong>#{{ most_tag[0] }}</strong></h3>
            {% else %}
            <h3 class="text-dark mb-1" align="left">{{ most_tag_recipes|length }} Rezept für <strong>#{{ most_tag[0] }}</strong></h3>
            {% endif %}
            <hr class="mb-4" align="left" style="width: 100%; max-width: 500px; background-color: #87dd7c; border-width: 3px;">
            <!-- Swiper -->
            <div class="swiper-container mb-4" id=swiper3>
                <div class="swiper-wrapper">
                    {% for recipe in most_tag_recipes %}
                      <div class="swiper-slide">
                          <a href="/viewrecipe?recipe_id={{recipe.recipe_id}}">
                            <div class="textonimage">
                              <img class="swiper-image" src="{{s3bucket}}/recipes/{{ recipe.recipe_pic }}" alt="Card image cap">
                              <div class="texti textoverflow shadow">{{recipe.title}}</div>
                            </div>
                          </a>
                      </div>
                    {% endfor %}
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination" id=pagi3></div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <!--<div class="swiper-button-prev"></div>-->
              </div>
        </div>
    </div>
    {% endif %}

</div>

<!-- Initialize Swiper -->
<script>
    var swiper1 = new Swiper('#swiper1', {
      slidesPerView: 1,
      spaceBetween: 0,
      loop: true,
      pagination: {
        el: '#pagi1',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
      },
    });

    var swiper2 = new Swiper('#swiper2', {
      slidesPerView: 1,
      spaceBetween: 30,
      loop: true,
      pagination: {
        el: '#pagi2',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
      },
    });

    var swiper3 = new Swiper('#swiper3', {
      slidesPerView: 1,
      spaceBetween: 30,
      loop: true,
      pagination: {
        el: '#pagi3',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
      },
    });
  </script>

{% endblock content %}