{% extends "base.html" %}

{% block content %}

<div class="p-3 mb-2 text-dark" align="center" style="background-color: beige">
  <h3>Bitte gib mir Feedback</h3>
  <small class="text-dark">Dein Feedback ist anonym und kann nicht zurück verfolgt werden</small>
  <div class="container" align="center">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        {{ form.feedback_text(class="form-control mt-3 backgroundtransparent", rows="5", placeholder="Dein Feedback zur App") }}
        {{ form.absenden(type="submit", class="btn btn-lg purple-gradient text-white mb-4") }}
    </form>
  </div>
</div>
{% endblock content %}
