{% extends "base.html" %}

{% block content %}

<div class="container mt-0" align="center">

    <!-- REFRESHER -->
    <div class="scrollarea d-lg-none d-xl-none mb-0 refresh" align="center" style="margin-top: 0px;">
        <div id=refresher class="loader" align="center" width="30px" height="30px" style="margin-bottom: 10px; display: none;" ></div>
        <img id=arrowdown class="vert-move refresh" src="/static/icons/arrow_down.png" width="40px" height="40px" style="margin-top: -10px; margin-bottom: 15px;">
        <span style="font-size: 12px; display: inline-block;">Hier herunterziehen um zu aktualisieren...</span>
    </div>

    <div class="row" style="max-width: 500px;">
      <div class="p-0 text-dark rounded" style="width: 100%; background-color: #c8e9c400;">
        <p class="h4 ml-2 mt-2" align="left"># Kategorien</p>
        <div class="scrolling-wrapper ml-2 pb-3">
          {% for tag in tags %}
          <a class="text-white" href="/search?tag={{tag[0]}}">
            <div cat={{tag[0]}} class="category interessant mr-2 my-2 pt-2 px-2 shadow rounded" style="width: 130px; background-color: rgb(198, 199, 198);">
              <div class="textonimage">
                <img class="rounded" src="/static/images/{{tag[1][1]}}" width="100px" height="100px"/>
                <p class="texti shadow" style="background-color: rgba(255, 235, 205, 0) !important; color: rgb(207, 253, 209) !important; font-size: 45px !important; font-weight: 900;">
                  <strong>{{ tag[1][0] }}</strong></p>
              </div>
              <p class="textoverflow">{{ tag[0] }}</p>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>

    <h3 class="text-dark mt-3 mb-1" align="center">{{recipes|length}} zuletzt hinzugefügte Rezepte</h3>
        <hr class="mb-4" align="center" style="width: 100%; max-width: 500px; background-color: #87dd7c; border-width: 3px;">

    <div class="row" style="max-width: 500px;">
        
        {% for recipe in recipes %}
        
        <div class="p-0 text-dark rounded mb-2 shadow" style="width: 100%; background-color: rgb(245, 241, 241)">
            <div class="container p-0">
              <a class="text-dark" href="/user?id={{recipe.author.profile_hash}}">
                <div align="left" >
                  <img class="circular--square shadow my-1 mx-1" src="{{s3bucket}}/profiles/{{ recipe.author.avatar }}" width="40" height="40" align="left">
                  <span class="card-text textoverflow my-3 mx-1" align="left"><strong>{{ recipe.author.name }}</strong></span> <br> 
                  <small class="card-text textoverflow my-3 mx-1" align="left">
                    am {{ recipe.recipe_created.strftime('%d.%m.%Y') }}
                    um {{ recipe.recipe_created.strftime('%H:%M') }} Uhr
                  </small>
                </div>
             </a>
             <a class="text-dark" href="/viewrecipe?recipe_id={{recipe.recipe_id}}">
              <div>
                <img class="card-img-top" src="{{s3bucket}}/recipes/{{ recipe.recipe_pic }}" alt="Card image cap">
              </div>
              <div class="mt-1 ml-2" align="left">
                <img src="/static/icons/heart.png" style="width: 30px; height: 30px;">
                <span class="h5">{{ recipe.times_liked }}</span>
              </div>
              <h4 class="card-title textoverflow mt-1 mb-2 ml-2"># <strong>{{ recipe.title }}</strong></h4>
              <hr class="my-4 mx-5" style="background-color: #87dd7c; border-width: 3px;">
            </a>
            </div>
        </div>
        {% endfor %}
    </div>

    <img src="/static/icons/croc_icon.png" width="60" height="60" class="d-inline-block align-top my-2" alt="">

    {% if current_user.is_authenticated %}
    {% if accounts|length > 1 %}
    <div class="row" style="max-width: 500px;">
      <div class="p-0 text-dark rounded shadow mb-2" style="width: 100%; background-color: #c8e9c4">
        <p class="h4 ml-2 mt-2" align="left"># Neue User</p>
        <div class="scrolling-wrapper ml-2 mb-2">
          {% for account in accounts %}
          <a class="text-white" href="/user?id={{account.profile_hash}}">
            <div class="interessant mr-2 my-2 pt-2 px-2 shadow rounded" style="width: 150px; background-color: rgb(102, 201, 127);">
              <img class="circular--square" src="{{s3bucket}}/profiles/{{account.avatar}}" width="50px" height="50px"/>
              <p class="textoverflow">{{ account.name }}</p>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
    {% endif %}

</div>

{% endblock content %}