{% extends "base.html" %}

{% block content %}
    
  <div class="mb-2" align="center">
  <img src="/static/icons/chef_hat.png" width="60" height="60" class="d-inline-block align-center mt-5 animated fadeIn" alt="">
  <h3 class="display-4 text-dark">Anmelden</h3>
  <small style="color: rgb(179, 177, 177)">Speichere Deine Lieblingsrezepte, lege eigene Rezepte an und teile sie mit Deinen Freunden!</small>
  <hr class="my-4 mx-5" style="max-width: 500px; background-color: #87dd7c; border-width: 3px;"> 
  </div>
        <div class="container align-middle animated fadeIn" align="center" style="height: 100%;background-color: beige">
        
        <form action="/login" method="POST">
          {{ form.hidden_tag() }}
            <div class="form-group">
                <div class="md-form md-outline mb-1">
                  <p class="lead text-dark">Deine E-Mail-Adresse:</p>
                    {{ form.email(class="form-control mr-sm-2 textcenter text-dark", type="email", style="width: 18rem; border-color: #000;") }}
                    <small id="emailHelp" class="form-text text-dark">Deine E-Mail-Adresse werden wir nicht weitergeben.</small>
                </div>
                {% if e_mail_correct %}
                  <p></p>
                  <div class="md-form md-outline mb-1">
                    <p class="lead text-dark">Zugangscode</p>
                    {{ form.token(class="form-control mr-sm-2 textcenter text-dark", style="width: 18rem; border-color: #000;") }}
                  </div>
                {% endif %}
            <p></p>
            <div class="loader mb-4" align="center" style="display: none" id=loader></div>
            {{ form.submit(class="btn btn-lg purple-gradient text-white mb-4", id="anmbtn") }}
          </div>
          </form>
        </div>
{% endblock content %}