{% extends "base.html" %}

{% block content %}

<div align="center">
<div class="ml-3 mr-3 mt-3 mb-3" style="width: 90%; max-width: 500px;" align="center">
    <h3 class="text-dark mb-1">Neues Rezept teilen</h3>
    <hr class="mb-4" style="width: 100%; max-width: 500px; background-color: #87dd7c; border-width: 3px;">
    <form action="" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group shadow-textarea">
            <div class="md-form animated fadeIn mb-1">    
                {{ form.title(type="text", class="form-control textcenter text-dark ownlargetext mb-5", placeholder="Titel") }}
            </div>
            {{ form.zutaten(class="form-control mt-3 backgroundtransparent", rows="3", placeholder="Zutaten (optional)") }}
            {{ form.zubereitung(class="form-control mt-3 backgroundtransparent", rows="3", placeholder="Zubereitung (optional)") }}
            <div class="md-form mb-1">
                {{ form.link(type="text", class="form-control mt-3 text-dark textcenter", placeholder="Link (optional)") }}
                {{ form.tags(type="text", class="form-control mt-3 text-dark textcenter", placeholder="Tags (optional, z. Bsp.: #Mittagessen)") }}
            </div>
        </div>
            <div class="form-group py-3" align="center">
                {{ form.picture(class="inputfile") }}
                <label onclick="submitButtonStyle(this)" class="btn btn-primary" for="picture" disappear="False">Bild auswählen</label>
                {% if form.picture.errors %}
                    {% for error in form.picture.errors %}
                        <span class="text-danger">{{ error }}</span><br>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="loader mb-4" align="center" style="display: none" id=loader></div>
        {{ form.speichern(type="submit", class="btn btn-lg purple-gradient text-white mb-4") }}
    </form>
    <br>
</div>
</div>
{% endblock content %}