{% extends "base.html" %}

{% block content %}

<div align="center">
    <h3 class="text-dark mt-4">Nach Tags & Benutzern suchen</h3>
    <hr class="my-4 mx-5" style="max-width: 500px; background-color: #87dd7c; border-width: 3px;">
    <form action="/search" method="POST">
        {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.search_field(class="form-control mr-sm-2 textcenter text-dark", style="width: 18rem; border-color: #000;") }}
                <div class="loader mt-2" align="center" style="display: none" id=loader></div>
                {{ form.search_btn(id="searchbtn", class="btn purple-gradient text-white") }}
            </div>
    </form>
    <p>Zuletzt vergebene Tags:</p>
    <div style="max-width: 500px;">
    {% for tag in current_tags %}
        <span class="searchtagpill badge badge-pill badge-light py-2 mb-1" tag={{tag}}>#{{ tag }}</span>
    {% endfor %}
    </div>
    <hr class="my-4 mx-5" style="max-width: 500px; background-color: #87dd7c; border-width: 3px;">
</div>
    
<div align="center" class="pb-4">
    {% if result %}
    <div class="list-group" style="max-width: 400px;">
            {% for recipe in result %}
                <a href="/viewrecipe?recipe_id={{recipe.recipe_id}}" class="list-group-item list-group-item-action shadow mb-1 p-0">
                    <div class="textonimage">
                        <img src="{{s3bucket}}/recipes/{{recipe.recipe_pic}}" height="200px" style="object-fit: cover; width: 100%;">
                        <h5 class="texti textoverflow mb-1">{{ recipe.title }}</h5>
                        <smal class="texti textoverflow mb-1" style="margin-top: 45px; background-color: rgba(245, 245, 220, 0.774) !important">von {{ recipe.author.name }}</small>
                    </div>
                </a>
            {% endfor %}
          </div>
    {% endif %}

    

    {% if user_result %}
    <div class="list-group" style="max-width: 400px;">
            {% for user in user_result %}
                <a href="/user?id={{user.profile_hash}}" class="list-group-item list-group-item-action rounded shadow mb-1 p-0 user-card" style="height: 140px; background-color: #87dd7c !important;">
                    <img class="circular--square mt-3 ml-3 shadow" src="https://ccappstaticfiles.s3.eu-central-1.amazonaws.com/profiles/{{user.avatar}}" height="100px" width="100px" align="left">
                    <p class="h5 texti textoverflow" style="background-color: rgba(255, 255, 255, 0) !important; margin-top: -15px; font-size: 2rem; text-align: left; margin-left: 50px;" align="left">{{ user.name }}</p>
                </a>
            {% endfor %}
          </div>
    {% endif %}

    {% if total_no_results %}
    <p>Keine Suchergebnisse für <strong>{{ search_tag }}</strong></p>
    {% endif %}

</div>

{% endblock content %}