{% extends "base2.html" %}

{% block content %}

<!-- Swiper -->
<div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
          <h3 class="display-4">Willkommen</h3>
          <a href="" class="btn btn-primary">Click Here To Join</a>
          <h3 class="display-4">Willkommen</h3>
          <a href="" class="btn btn-primary">Click Here To Join</a>
          <h3 class="display-4">Willkommen</h3>
          <a href="" class="btn btn-primary">Click Here To Join</a>
          <h3 class="display-4">Willkommen</h3>
          <a href="" class="btn btn-primary">Click Here To Join</a>
          <h3 class="display-4">Willkommen</h3>
          <a href="" class="btn btn-primary">Click Here To Join</a>
          <h3 class="display-4">Willkommen</h3>
          <a href="" class="btn btn-primary">Click Here To Join</a>
          <h3 class="display-4">Willkommen</h3>
          <a href="" class="btn btn-primary">Click Here To Join</a>
          <h3 class="display-4">Willkommen</h3>
          <a href="" class="btn btn-primary">Click Here To Join</a>
          <h3 class="display-4">Willkommen</h3>
          <a href="" class="btn btn-primary">Click Here To Join</a>
          <h3 class="display-4">Willkommen</h3>
          <a href="" class="btn btn-primary">Click Here To Join</a>
          <h3 class="display-4">Willkommen</h3>
          <a href="" class="btn btn-primary">Click Here To Join</a>
          
      </div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
      <div class="swiper-slide">Slide 4</div>
      <div class="swiper-slide">Slide 5</div>
      <div class="swiper-slide">Slide 6</div>
      <div class="swiper-slide">Slide 7</div>
      <div class="swiper-slide">Slide 8</div>
      <div class="swiper-slide">Slide 9</div>
      <div class="swiper-slide">Slide 10</div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.swiper-container', {
      pagination: {
        el: '.swiper-pagination',
        dynamicBullets: true,
      },
    });
  </script>

{% endblock content %}


