{% extends "base.html" %}

{% block content %}

<!-- REFRESHER -->
<div class="scrollarea d-lg-none d-xl-none pb-3 refresh" align="center" style="margin-top: 0px;">
    <div id=refresher class="loader" align="center" width="30px" height="30px" style="margin-bottom: 10px; display: none;" ></div>
    <img id=arrowdown class="vert-move refresh" src="/static/icons/arrow_down.png" width="40px" height="40px" style="margin-top: -10px;">
</div>

<div align="center">

        <div id="overlay" class="animated fadeIn">
          <img class="overlayimage shadow" src="{{s3bucket}}/profiles/{{ user.avatar }}"/>
              {% if owner_is_viewer %}
                <form action="" method="POST" enctype="multipart/form-data">
                  {{ form.hidden_tag() }}
                  <div class="form-group mb-0" align="center">
                      {{ form.picture(class="inputfile") }}
                      <label onclick="submitButtonStyle(this)" class="btn btn-primary" for="picture" disappear="True">Neues Profilbild</label>
                      {% if form.picture.errors %}
                          {% for error in form.picture.errors %}
                              <span class="text-danger">{{ error }}</span><br>
                          {% endfor %}
                      {% endif %}
                  </div>
                  <div class="form-group">
                      <div class="loader mt-1" align="center" style="display: none" id=loader></div>
                      {{ form.speichern(type="submit", class="btn btn-success", style="display:none;") }}
                  </div>
                </form>
              {% endif %}
        </div>

        <img id=profilepic class="circular--square shadow mb-4" src="{{s3bucket}}/profiles/{{ user.avatar }}" width="30%" height="30%" style="min-width: 200px; min-height: 200px;" />
        {% if show_tooltips %}
        <h4 class="h5 break-text text-dark textoverflow" style="font-size: 2em;" id=username data-toggle="tooltip" data-placement="top" title="Hier klicken, um den Namen zu bearbeiten">{{ user.name }}</h4>
        {% else %}
        <h4 class="h5 break-text text-dark textoverflow" style="font-size: 2em;" id=username>{{ user.name }}</h4>
        {% endif %}
        
        {% if owner_is_viewer %}
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <div class="md-form animated fadeIn mb-1 mt-0" id=edit_name_class style="display:none; width: 70%;" user_id={{current_user.id}}>  
            {{ profile_name_form.name(type="text", class="form-control textcenter text-dark ownlargetext mb-5", placeholder="Name", maxlength="15") }}
            </div>
        </form>
          <h6 class="h6 break-text text-dark">{{ user.email }}</h6>
          <small style="color: rgb(146, 146, 146);">(Deine E-Mail ist für andere Nutzer nicht sichtbar)</small>
        {% endif %}
</div>

<div align="center">
        <img src="/static/icons/chef_hat.png" width="60" height="60" class="d-inline-block align-center mt-5" alt="">
        {% if owner_is_viewer %}
        <h3 class="text-dark mt-4">Deine Rezepte ({{recipes|length}})</h3>
        {% else %}
        <h3 class="text-dark mt-4">Rezepte ({{recipes|length}})</h3>
        {% endif %}
</div>
<div align="center">
  <hr class="my-4 mx-5" style="max-width: 500px; background-color: #87dd7c; border-width: 3px;">
</div>

<div class="row m-auto" align="center" style="max-width: 400px;">

  {% if recipes %}
    {% for recipe in recipes %}
    <div class="col zeropadding" id="recipecol{{ recipe.recipe_id }}">
        <div class="card mb-3 zeromargin" style="width: 18rem; background-color: rgba(255, 255, 255, 0.664)">
            <img class="card-img-top" src="{{s3bucket}}/recipes/{{ recipe.recipe_pic }}" alt="Card image cap" id=pic{{recipe.recipe_id}}>
            <div class="card-body">
              <h5 class="card-title textoverflow">{{ recipe.title }}</h5>
              <p class="card-text textoverflow">erstellt am {{ recipe.recipe_created.strftime('%d.%m.%Y') }}</p>
              <a href="/viewrecipe?recipe_id={{recipe.recipe_id}}" class="btn btn-primary" id=ansehen{{recipe.recipe_id}}>Ansehen</a>
              {% if owner_is_viewer %}
              <button type="button" class="btn btn-danger px-3 deleterecipe" recipe_id={{recipe.recipe_id}} id=buttondelete{{recipe.recipe_id}}>
                <i class="fas fa-trash" aria-hidden="true" id=icondelete{{recipe.recipe_id}}></i></button>
              {% endif %}
            </div>
          </div>
        </div>
    {% endfor %}
    {% elif owner_is_viewer %}
    <div class="col zeropadding">
          <a href="/newrecipe" class="btn purple-gradient text-white mb-3">Erstelle Dein erstes Rezept</a>
    </div>
  {% endif %}
</div>


{% if owner_is_viewer %}
<div class="mt-2 mb-3" align="center">
    <h3 class="text-dark mt-4">Dein QR-Code</h3>
    <hr class="my-4 mx-5" style="max-width: 500px; background-color: #87dd7c; border-width: 3px;">
    <img class="shadow mb-4" src="{{s3bucket}}/qrcodes/{{ user.qrcode }}" width="30%" height="30%" style="min-width: 200px; min-height: 200px;" />
    <br>
    <hr class="my-4 mx-5" style="max-width: 500px; background-color: #87dd7c; border-width: 3px;"> 
  <a class="btn btn-danger btn-lg text-white" href="/delete" role="button" id=deleteaccount>
    Account löschen
  </a>
</div>
<br>
{% endif %}

{% endblock content %}