{% extends "base.html" %}

{% block content %}

<!-- REFRESHER -->
<div class="scrollarea d-lg-none d-xl-none mb-0 refresh" align="center" style="margin-top: 0px;">
        <div id=refresher class="loader" align="center" width="30px" height="30px" style="margin-bottom: 10px; display: none;" ></div>
        <img id=arrowdown class="vert-move refresh" src="/static/icons/arrow_down.png" width="40px" height="40px" style="margin-top: -10px;">
</div>

<small>Hochgeladen am {{ recipe.recipe_created.strftime('%d.%m.%Y') }}</small>

<div class="nav nav-pills flex-sm-row float-right mb-2">
    {% if current_user_has_liked %}
        <a id=rezeptmerken user_is_authenticated={{current_user.is_authenticated}} current_user_has_liked={{current_user_has_liked}} recipe_id={{recipe.id}} user_id={{current_user.id}} no_of_likes={{recipe_liked}} class="flex-sm-fill text-sm-center nav-link active mx-1 mb-1 mt-2 text-white" style="background-color: #42d62f;">{{ recipe_liked }} <i class="fas fa-heart"></i></a>
    {% else %}
        <a id=rezeptmerken user_is_authenticated={{current_user.is_authenticated}} current_user_has_liked={{current_user_has_liked}} recipe_id={{recipe.id}} user_id={{current_user.id}} no_of_likes={{recipe_liked}} class="flex-sm-fill text-sm-center nav-link active mx-1 mb-1 mt-2 text-white">{{ recipe_liked }} <i class="fas fa-heart"></i></a>
    {% endif %}
    <a id=sharerecipe recipe_id='{{recipe.recipe_id}}' class="d-block d-xl-none d-lg-none flex-sm-fill text-sm-center nav-link active mx-1 mb-1 mt-2 text-white">
            <img class="mr-1" src="/static/icons/whatsapp.png" width="25" height="25">
    </a>
    <!-- FORKEN <a class="flex-sm-fill text-sm-center nav-link active mr-2 mb-1 mt-2" href="#"><i class="fas fa-code-branch"></i></a>-->
</div>
<br>
<div class="mt-4" align="center" style="clear: both;">
    <div class="ml-3 mr-3 mb-3">
        {% if show_tooltips %}
        <h2 class="text-dark mt-5 textoverflow" id=recipetitle data-toggle="tooltip" data-placement="top" title="Klicke auf Texte, um sie zu bearbeiten">{{ recipe.title }}</h2>
        {% else %}
        <h2 class="text-dark mt-5 textoverflow" id=recipetitle>{{ recipe.title }}</h2>
        {% endif %}

        {% if owner_is_viewer %}
        <div class="md-form animated fadeIn mb-1" id=edit_title_class style="display:none" recipe_id={{recipe.recipe_id}}>  
            <input type="text", class="form-control textcenter text-dark ownlargetext mb-5", placeholder="Titel" id=edit_title>
        </div>
        {% endif %}

        <a class="mt-2" href="/user?id={{recipe.author.profile_hash}}">
            <span class="badge badge-pill" style="background-color: #62aa59; padding: 5px 10px;">
                <img class="circular--square mr-1" src="{{s3bucket}}/profiles/{{ recipe.author.avatar }}" width="35" height="35">
            {{ recipe.author.name }}</span>
        </a>

        <hr class="mb-4 mt-2 mx-5" style="max-width: 500px; background-color: #87dd7c; border-width: 3px;"> 
        <img src="/static/icons/croc_icon.png" width="60" height="60" class="d-inline-block align-top" alt="">
    </div>

    <div style="display: inline-block;">
        <img class="card-img-top shadow" src="{{s3bucket}}/recipes/{{ recipe.recipe_pic }}" style="max-width: 400px;"/>
        <div style="position: absolute;z-index: 999;text-align: left;margin: 0 auto;">
            <p class="text-white" style="position: relative; margin-top: -30px; margin-left: 0px; padding: 3px; background-color: #87dd7cd2">{{ recipe.times_viewed }} <i class="fas fa-eye"></i></p> 
        </div>
    </div>
    
    <div class="ml-3 mr-3 mt-3 mb-3" style="width: 80%" align="center">
        {% if owner_is_viewer %}
            <form action="" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="form-group" align="center">
                    {{ form.picture(class="inputfile") }}
                    <label onclick="submitButtonStyle(this)" class="btn" for="picture" disappear="True" style="margin-top: -110px; background-color: #87dd7cd2">Bild ändern</label>
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span><br>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                        <div class="loader" align="center" style="display: none; margin-top: -65px; margin-bottom: 60px;" id=loader></div>
                    {{ form.speichern(type="submit", class="btn btn-success", style="display: none; margin-top: -65px; margin-bottom: 60px; position: relative;") }}
                </div>
            </form>
        {% endif %}
        

        <h2 class="text-dark mt-1">Zutaten</h2>
        <div id=zutatendiv>
            {% if recipe.zutaten %}
            <p class="text-dark" id=zutaten_field style="white-space: pre-line">{{ recipe.zutaten }}</p>
            {% else %}
            <p class="text-dark" id=zutaten_field>Keine Zutaten eingetragen</p>
            {% endif %}
        </div>
        {% if owner_is_viewer %}
            <div class="form-group shadow-textarea" id=edit_zutaten_class style="display:none" recipe_id={{recipe.recipe_id}}>
                <textarea class="form-control animated fadeIn mt-3 backgroundtransparent" rows="6" placeholder="Zutaten" id=edit_zutaten_field></textarea>
            </div>
        {% endif %}

        <h2 class="text-dark mt-3">Zubereitung</h2>
        <div id=zubereitungdiv>
            {% if recipe.zubereitung %}
            <p class="text-dark" id=zubereitung_field style="white-space: pre-line">{{ recipe.zubereitung }}</p>
            {% else %}
            <p class="text-dark" id=zubereitung_field>Keine Zubereitung eingetragen</p>
            {% endif %}
        </div>
        {% if owner_is_viewer %}
            <div class="form-group shadow-textarea" id=edit_zubereitung_class style="display:none" recipe_id={{recipe.recipe_id}}>
                <textarea class="form-control animated fadeIn mt-3 backgroundtransparent" rows="6" placeholder="Zubereitung" id=edit_zubereitung_field></textarea>
            </div>
        {% endif %}

        <h2 class="text-dark mt-3">Link</h2>
        {% if recipe.link %}
        <a href="{{ recipe.link }}" target="_blank" id=link_for_linkbutton>
            <button id=linkbutton class="btn blue-gradient text-white mb-3">Link öffnen</button>
        </a>
        {% else %}
        <a href="{{ recipe.link }}" id=link_for_linkbutton>
                <button id=linkbutton class="btn blue-gradient text-white mb-3" disabled>Kein Link</button>
        </a>
        {% endif %}
        {% if owner_is_viewer %}
        <button id=editlinkbutton curlink='{{recipe.link}}' recipe_id='{{recipe.recipe_id}}' type="button" class="btn btn-success px-3 mb-3"><i class="fas fa-pencil-alt" aria-hidden="true"></i></button>
        {% else %}
        <p class="text-dark textoverflow" style="width: 18rem;">{{ recipe.link }}</p>
        {% endif %}
        
        <h2 class="text-dark mt-3">Tags</h2>
        <div id="tags">
        {% if recipe_tags %}
            {% for tag in recipe_tags %}
                <a href="/search?tag={{tag}}"><button class="btn badge badge-pill purple-gradient ownmediumtext mb-1 shadow textoverflow tagpill" style="max-width: 100%; word-wrap: break-word;" tag={{tag}} id=tagpill{{loop.index}} lindex={{loop.index}} recipe_id={{recipe.recipe_id}} owner_is_viewer={{owner_is_viewer}}>#{{ tag }}</button></a>
                {% if owner_is_viewer %}
                <img class="deleteontag" src="/static/icons/cancel.png" tag={{tag}} id=tagdelete{{loop.index}} lindex={{loop.index}} recipe_id={{recipe.recipe_id}} owner_is_viewer={{owner_is_viewer}}>
                {% endif %}
            {% endfor %}    
        {% else %}
        <p class="text-dark mb-3">Keine Tags hinzugefügt</p>
        {% endif %}
        </div>
        {% if owner_is_viewer %}
        <span id=addtag recipe_id='{{recipe.recipe_id}}' class="badge badge-pill blue-gradient ownmediumtext mb-1 shadow textoverflow" style="max-width: 100%; word-wrap: break-word;"><i class="fas fa-plus-circle"></i></span>
        {% endif %}
        
        <br><br>
        
    </div>
</div>

{% endblock content %}